*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M1488 560L0 560 L0 352.55Q28.75 309.3%2c 72 338.05Q107.61 253.66%2c 192 289.28Q240.38 265.65%2c 264 314.03Q313.89 291.92%2c 336 341.81Q379.23 313.04%2c 408 356.28Q413.82 290.1%2c 480 295.91Q533.85 229.75%2c 600 283.6Q685.23 248.83%2c 720 334.05Q742.22 284.27%2c 792 306.49Q845.13 239.63%2c 912 292.76Q977.68 286.44%2c 984 352.13Q1003.76 299.89%2c 1056 319.66Q1084.74 276.4%2c 1128 305.14Q1180.66 237.81%2c 1248 290.47Q1330.3 252.76%2c 1368 335.06Q1436.79 283.85%2c 1488 352.63z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 434.83Q38.32 401.15%2c 72 439.48Q108.89 356.38%2c 192 393.27Q245.88 327.15%2c 312 381.04Q366.63 363.68%2c 384 418.31Q433.91 348.22%2c 504 398.13Q525.02 347.15%2c 576 368.18Q642.27 314.45%2c 696 380.72Q786.69 351.42%2c 816 442.11Q831.77 337.88%2c 936 353.65Q979.52 325.17%2c 1008 368.7Q1052.99 341.69%2c 1080 386.68Q1124.28 310.96%2c 1200 355.24Q1260.68 343.93%2c 1272 404.61Q1321.93 334.55%2c 1392 384.48Q1418.43 338.91%2c 1464 365.34z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1536 560L0 560 L0 481.97Q38.24 400.21%2c 120 438.44Q147.35 393.79%2c 192 421.14Q270.19 379.33%2c 312 457.52Q359.59 433.11%2c 384 480.69Q437.82 462.51%2c 456 516.34Q482.02 470.36%2c 528 496.38Q582.84 431.22%2c 648 486.05Q677.97 396.02%2c 768 426Q814.86 400.86%2c 840 447.71Q895.86 431.56%2c 912 487.42Q954.53 457.95%2c 984 500.48Q1051.78 448.26%2c 1104 516.05Q1107.67 447.72%2c 1176 451.39Q1224.83 380.22%2c 1296 429.04Q1381.45 394.5%2c 1416 479.95Q1482.97 426.92%2c 1536 493.89z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1536 560L0 560 L0 561.19Q36.02 477.22%2c 120 513.24Q189.59 462.83%2c 240 532.42Q326.02 498.44%2c 360 584.46Q381.6 534.06%2c 432 555.66Q453.11 504.77%2c 504 525.88Q551.25 453.13%2c 624 500.38Q703.52 459.9%2c 744 539.42Q794.57 517.99%2c 816 568.56Q828.82 509.38%2c 888 522.2Q929.18 491.38%2c 960 532.56Q1038 490.56%2c 1080 568.56Q1109.02 525.58%2c 1152 554.6Q1200.52 483.12%2c 1272 531.64Q1330.32 517.96%2c 1344 576.29Q1344.1 504.39%2c 1416 504.49Q1469.81 438.3%2c 1536 492.11z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
#container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
}
h1{
   font-size: 20px;
   color: rgb(233, 233, 240);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-shadow: 3px 4px 10px black;
}
textarea{
       margin: 30px 0;
       height: 200px;
       width: 300px;
     
      
       box-shadow: 5px 6px 10px black;
      
}
button{
    background-color: rgb(84, 46, 46);
    color: rgb(105, 57, 57);
    border: none;
    padding: 10px;
    cursor: pointer;


}